@using Blazor.Fluxor
@using D2RuneHelper3.Store.RuneList
@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent
@inject Blazor.Fluxor.IStore Store
@Store.Initialize()
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions
{

    protected override async Task OnInitAsync()
    {
        Console.WriteLine("OnInitAsync MainLayout");
        Store.Dispatch(new RuneListLoadFromLocalStoreAction());
    }

}
